---
// Assets
import Logo from "@/components/assets/Logo.astro";
import { Image } from "astro:assets";
import heroImage from "@/images/assets/staff-working.jpg";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Kicker from "@/components/fundations/elements/Kicker.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section class="bg-accent-950">
  <Wrapper
    variant="standard"
    class="py-12 pt-48 lg:border-x lg:border-brand-gold"
  >
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-y-8 gap-x-20">
      <div class="lg:col-span-2 text-balance">
        <Kicker class="text-brand-gold">About MESCo</Kicker>
        <Text
          tag="h1"
          variant="displayLG"
          class="text-white font-medium tracking-tight mt-12"
        >
          Built from experience. Delivered with intent.
        </Text>
        <Text tag="p" variant="textLG" class="text-base-400 max-w-xl mt-4">
          McPhee Engineering Systems Co (MESCo) is a Western Australian
          consultancy specialising in structured systems and compliance
          frameworks that connect design intent to practical site delivery.
        </Text>
      </div>
      <div
        class="bg-accent-600 p-8 lg:-mb-26 z-10 relative overflow-hidden lg:order-first lg:border lg:border-brand-gold"
      >
        <div class="relative flex flex-col justify-between h-full">
          <Logo class="h-12 w-fit text-white" />
          <div class="font-medium tracking-tight text-white mt-12 space-y-8">
            <Text tag="p" variant="displaySM"> Structure </Text>
            <Text tag="p" variant="displayMD"> Compliance </Text>
            <Text tag="p" variant="displayLG"> Confidence </Text>
          </div>
        </div>
      </div>
    </div>
  </Wrapper>
  <Wrapper variant="paddingless" class="lg:border-x lg:border-brand-gold">
    <Image
      src={heroImage}
      alt="MESCo team on site"
      width={heroImage.width}
      height={heroImage.height}
      widths={[480, 768, 1024, 1420]}
      sizes="100vw"
      formats={["avif", "webp"]}
      decoding="async"
      loading="lazy"
      class="size-full object-cover max-h-120 lg:border-b lg:border-t lg:border-brand-gold"
    />
  </Wrapper>
</section>
