---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Kicker from "@/components/fundations/elements/Kicker.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import { getCollection } from "astro:content";

const industries = await getCollection("industries");
industries.sort((a, b) => {
  const orderA = a.data.order ?? 0;
  const orderB = b.data.order ?? 0;
  return orderA - orderB;
});
---

<BaseLayout
  navTransparent={true}
  seoTitle="Industries"
  seoDescription="MESCo systems and compliance support across construction, resources, infrastructure, energy, and government projects."
>
  <section class="bg-accent-800">
    <Wrapper
      variant="standard"
      class="py-12 pt-48 lg:border-x lg:border-brand-gold/10"
    >
      <div class="max-w-3xl text-balance">
        <Kicker class="text-base-300">Industries</Kicker>
        <Text
          tag="h1"
          variant="displayMD"
          class="font-medium tracking-tight mt-12 text-white"
        >
          Supporting projects across major Australian industries
        </Text>
        <Text tag="p" variant="textLG" class="text-base-400 mt-4">
          MESCo’s systems apply across construction, resources, infrastructure,
          energy, and government work. We adapt the same structured approach to
          suit the risk profile and requirements of each sector.
        </Text>
      </div>
    </Wrapper>
  </section>

  <section>
    <Wrapper variant="standard" class="py-24">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {
          industries.map((industry) => (
            <article class="p-8 rounded bg-base-50 h-full flex flex-col gap-4">
              <Text
                tag="h2"
                variant="textXL"
                class="font-medium text-accent-900"
              >
                {industry.data.title}
              </Text>
              <Text tag="p" variant="textBase" class="text-base-600">
                {industry.data.description}
              </Text>
            </article>
          ))
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>

