---
// Fundations
import "@/styles/global.css";
import BaseHead from "@/components/fundations/head/BaseHead.astro";
import Footer from "@/components/global/Footer.astro";
import Navigation from "@/components/global/navigation/Navigation.astro";
import { ClientRouter } from "astro:transitions";

const {
  hideNavigation = false,
  hideFooter = false,
  navTransparent,
  seoTitle,
  seoDescription,
} = Astro.props as {
  hideNavigation?: boolean;
  hideFooter?: boolean;
  navTransparent?: boolean;
  seoTitle?: string;
  seoDescription?: string;
};
---

<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead title={seoTitle} description={seoDescription} />
    <ClientRouter />
    <slot name="head" />
  </head>
  <body class="flex flex-col bg-white min-h-dvh">
    {
      !hideNavigation &&
        (navTransparent !== undefined ? (
          <Navigation transparent={navTransparent} />
        ) : (
          <Navigation />
        ))
    }
    <main class="grow" transition:animate="fade"><slot /></main>
    {!hideFooter && <Footer />}
    <script>
      import "@/scripts/site-shell";
    </script>
  </body>
</html>
